body {
    background: #C0C0C0;
    margin-left: 20px;
    margin-right: 100px;
}

header {
    margin-top: 70px;
}
h1 {
    color: #F8F8FF;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: 22px;
}

footer {
    margin-bottom: 30px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

.logo {
    width: 100px;
}